h1{
    width:100%; 
    background-color:orange; 
    border:1px; 
    border-radius:10px; 
    border-style: solid;
    text-align:center; 
    padding:10px;
     opacity: 0.5;
    }

.circle{
width:500px;
height:500px;
margin: auto;
border-radius:50%;
opacity:0.5;
transition:1s;
box-shadow: 10px 10px 15px black;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
.div:hover{
    opacity: 1;
}